<footer class="footer">
    <div class="rectanle footer__rectangle"></div>
    <div class="container">
        <div class="footer__top">
                <div class="footer__item">
                    <a href="/" class="logo footer__logo">
                        <img src="assets/img/icons/logo.svg" alt="logo">
                        <div class="logo__text">Trevel <span>Me</span></div>
                    </a>
                    <div class="footer__textdownload footer__textdownload-desk">Скачайте наше приложение</div>
                    <div class="footer__downloads footer__downloads-desk">
                            <a href="" class="footer__downloads-appstore"><img src="assets/img/icons/appstore.png" alt=""></a>
                            <a href="" class="footer__downloads-googleplay"><img src="assets/img/icons/googleplay.png" alt=""></a>
                    </div>
                </div>
                <div class="footer__divider divider"></div>
                <div class="footer__menu">
                   <ul  class="footer__menu-items footer__menu-items__desk footer__menu-first">
                         <div class="footer__menu-title">Сервис</div>
                         <li><a href="">О сервисе</a></li>
                         <li><a href="">Блог</a></li>
                         <li><a href="">Часто задаваемые вопросы</a></li>
                         <li><a href="">Способы оплаты</a></li>
                   </ul>
                   <ul  class="footer__menu-items footer__menu-items__desk footer__menu-second">
                    <div class="footer__menu-title">Гидам</div>
                    <li><a href="">Стать гидом</a></li>
                    <li><a href="">Правила работы</a></li>
                 </ul> 
                 <ul  class="footer__menu-items footer__menu-items__desk footer__menu-third">
                    <div class="footer__menu-title">Документы</div>
                    <li><a href="">Договор оферты</a></li>
                    <li><a href="">Условия использования сайта</a></li>
                    <li><a href="">Политика обработки персональных данных</a></li>
                    <li><a href="">Реквизиты</a></li>
                 </ul>
                 <ul  class="footer__menu-items footer__menu-four ">
                    <div class="footer__menu-title">Поддержка клиентов</div>
                    <li><img class="footer__phone-img img-svg" src="assets/img/icons/phone.svg" alt="">Телефон:<a href="tel:+74951234567">+7(495)123-45-67</a></li>
                    <li><img class="footer__email-img img-svg" src="assets/img/icons/email.svg" alt="">E-mail: <a href="mailto:hello@trevelme.ru">hello@trevelme.ru</a></li>
                    <li><img class="footer__pin-img img-svg" src="assets/img/icons/pin-b.svg" alt="">Офис: <a href="">Москва, ул. Название улицы 10,
                        офис 11</a></li>
                        <div class="footer__social-btns">
                            <a href="" class="footer__social-btn"><img class="img-svg" src="assets/img/icons/whatssapp-footer.svg" alt=""></a>
                            <a href="" class="footer__social-btn"><img class="img-svg"  src="assets/img/icons/telegram-blue.svg" alt=""></a>
                            <a href="" class="footer__social-btn"><img class="img-svg" src="assets/img/icons/vk.svg" alt=""></a>
                            <a href="" class="footer__social-btn"><img class="img-svg" src="assets/img/icons/instagram.svg" alt=""></a>
                         </div>
                 </ul>  
                
                </div>
        </div> 
        <div class="footer__divider divider"></div>
        <div class="footer__textdownload ">Скачайте наше приложение</div>
        <div class="footer__downloads ">
                <a href="" class="footer__downloads-appstore"><img src="assets/img/icons/appstore.png" alt=""></a>
                <a href="" class="footer__downloads-googleplay"><img src="assets/img/icons/googleplay.png" alt=""></a>
        </div> 
        <div class="footer__divider footer__bottom-divider divider"></div>
        <div class="footer__bottom">
            <div class="footer__copyright">© 2023 «TrevelME».</div>
            <div class="footer__pay"><img class="img-svg" src="assets/img/icons/cards.svg" alt=""></div>
            <div class="footer__logo-advance">Разработка сайта <img src="assets/img/icons/logo-advance.png" alt=""></div>
        </div>
    </div>
</footer>

