<header class="header">
      <div class="container header__container">
        <div class="burger">
            <span></span>
          </div>
          <a href="/" class="logo header__logo">
            <img src="assets/img/icons/logo.svg" alt="logo">
            <div class="logo__text">Trevel <span>Me</span></div>
        </a>
        <a href="" class="btn header__btn">Направления <img class="img-svg" src="assets/img/icons/arrow.svg" alt="arrow"></a>
        <nav class="menu">
            <ul class="menu__items">
                <li class="menu__item"><a href="#" class="menu__link">О сервисе</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Блог</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Помощь клиентам</a>
                  <img class="menu__item-arrow img-svg" src="assets/img/icons/arrow.svg" alt="arrow">
                  <div class="tolip__wrapper">
                    <div class="menu__item_tolip tolip">
                      <div class="tolip__text">Мы на связи с 09:00 до 21:00 мск</div>
                     <div class="tolip__social">
                      <a href="#" class="btn btn__whatsapp tolip__btn"><img class="img-svg" src="assets/img/icons/whatsapp.svg" alt="whatsapp">WhatsApp</a>
                      <a href="#" class="btn btn__telegram tolip__btn"><img class="img-svg"  src="assets/img/icons/telegram.svg" alt="whatsapp">Telegram</a>
                     </div>
                     <div class="tolip__contacts">
                      <a href="tel:+74951234567" class="tolip__phone phone"> <img class="img-svg" src="assets/img/icons/phone.svg" alt="phone">+7 (495) 123-45-67</a>
                      <a href="mailto:hello@trevelme.ru" class="tolip__email email"> <img class="img-svg" src="assets/img/icons/email.svg" alt="email">hello@trevelme.ru</a>
                     </div>
                    </div>
                  </div>
                </li>
            </ul>
        </nav>
          <a href="#" class="header__heart"><img class="img-svg" src="assets/img/icons/love.svg" alt=""></a>
          <div class=" btn__login header__login">Войти</div>
      </div>
</header>