@media (min-width: 1440px) {
   body {
    width: 100%;
   }
     .container {
        max-width: 1440px;
        padding: 0;

     }
     .header {
      
        .burger {
            display: none;
        }
        &__logo {
            margin-left: 2px;
            margin-top: 6px;
            img {
                width: 43px;
                height: 43px;
            }
            div {
                margin-left: 6.6px;
                margin-top: -1px;
                font-size: 23px;
                span {
                    font-size: 17px;
                    margin-left: -6px;
                }
            }
        }
        &__btn {
            display: flex;
            margin-left: 61.75px;
        }
        &__heart {
            width: 50px;
            height: 50px; 
            img {
                width: 22px;
                height: 22px;
            }
        }
        &__login {
            width: 114.25px;
            height: 50px;
            font-size: 15px;
            margin-left: 20px;
        }
     }
     .menu {
        display: block;
        &__item {
            &:hover {
                .tolip {
                    opacity:1;
                    visibility: visible;
                    z-index: 99;
                    
                }
            }
        }
     }
     
     .main-title {
        font-size: 42px;
        line-height: 52px;
     }
     .title {
        font-size: 36px;
     }
     .home {
        padding-top: 31px;

        &__container {
            margin: 0 auto;
        }
        &__title {
            padding: 123.07px 445px 0 445px;
        }
        &__descr {
            font-size: 16px;
            margin-top: 9px;
        }
        &__form {
            width: 779px;
            height: 75px;
            display: flex;
            padding: 0;
            align-items: center;
            margin: 44px auto 0 auto;

            
        }
        &__input {
            
            input {
                width: 200px;
            }
            &-choise {
                margin-left: 23px;
            }
            &-date {
                margin-left:30px;
            }
        } 
        &__divider {
            width: 1px;
            height: 36.922px;
            margin-left: 14px;
        }
        &__btn {
            margin-top: 0;
            margin-left: 56px;
            width: 134px;
            height: 55px;
            flex-shrink: 0;
            
        }
        &__popular {
            margin: 128.01px auto 0 auto;
            display: flex;
            justify-content: center;
            &-items {
                margin: 0;
                padding: 0;
                gap: 15px;
                padding-bottom: 60.01px;
            }
            &-title {
                margin-left: 58px;
                margin-right: 17px;
            }
            &-item {
                background: transparentize($textcolorMain, 0.85);
            }
        }
     }
     .popular {
        &__title {
            margin-top: 17px;
          }
        &__descr {
            font-size: 16px;
            margin-top: 17px;
          }
         
          &__cards {
            margin-top: 60px;
            grid-template-columns: 449.365px 449.365px 449.365px;
            column-gap: 46px;
            row-gap: 45px;
          }
          &__card {
            padding: 366.58px 0 38.46px 43.94px;
            &-text {
               
                font-size: 22px;
            }
            &-btn {
              
                margin-top: 24px;
                width: 131.42px;
                height: 34.398px;
                font-size: 13px;
            }
          }

          
     }
     .daystour {
        display: none;
     }

     .tours {
        padding-top: 86.77px;
        &__wrapper {
            display: flex;
        }
        &__filters {
            margin-top: 0;
            margin-left: 54px;
            gap: 46px;
        }
        &__dateselect {
            display: block;
          
        }
        &__select {
            &-city {
                width: 241px;
                padding: 13.91px 22.75px;
                color: #B7B7B7;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px; /* 162.5% */
                border-radius: 10px;
                border: 1px solid #E6E6E6;
                background: #FFF;
            }
        } 

        
        &__city {
            display: none;
        }
        &__select {
            display: block;
        }
        &__date {
            display: none;
            &-select {
                display: flex;
            }
        }
        &__cards {
            grid-template-columns: repeat(4, 333.677px);
            column-gap:35.5px;
            row-gap: 29px;
            margin-top: 71px;

        }
        &__cardhour {
            margin-left: 7px;
        }
        &__card {
            &-heart {
                width: 50px;
                height: 50px;
                top: 16.01px;
                right: 16.19px;
                img {
                    width: 22px;
                    height: 22px;           
                }
            }
            &-img {
                height: 226px;
            }
            &-wrapper {
                padding: 0 26px 19px 26px;
            }
            &-title {
                font-size: 14px;
                padding: 23px 0 0 0;
                line-height: 23px;
            }
            &-divider {
                width: 281.781px;
                margin: 13.47px 0 0 0;
            }
            &-inner {
                display: flex;
                align-items: center;
            }
            &-descr {
                display: block;
            }
            &-price {
                margin-top: 15.6px;
                padding-left: 0;
                font-size: 20px;
                span {
                    font-size: 13px;
                }
                em {
                    font-size: 12px;
                }
            }
            &-hour {
                width: 135px;
                height: 30px;
                margin: 9px 0px 0px -5px;
            }
            &-btn {
                display: none;
                &_plus {
                    margin-left: auto;
                    display: flex;
                    margin-top: 25px;
                }
            }
        }
        &__btn {
            width: 194.375px;
            height: 55px;
            margin-top: 72px;
        }
     }

     .feedback {
        padding-top: 34px;
        &__wrapper {
            padding: 47px 19.02px 90px 78.54px;
        }
       &__title {
        text-align: left;
        padding: 19px 0px 0px 22px;
       
        &_desk {
            display: none;
        }
       }
       &__feed {
        margin: 26px 0px 0 22px;
        color: $textcolorMain;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
       }
        &__desk {
            display: block;
            .feedback__btn { 
                width: 175.5px;
                height: 55px;
                display: flex;
                font-size: 15px;
                margin: 38px 0px 0px 21px;
            }
            
        }
        &__slider {
            &-btns {
                display: flex;
            }
            &-wrapper {
                display: grid;
                grid-template-columns: 325px 736px;
                column-gap: 209.5px;
              
            }
            &-inner {
                flex-direction: row;
                align-items: start;
                gap: 40px;
            }
            &-text {
              display: block;
              margin-top: -4.25px;
            }
            &-tour {
                display: block;
            }
            &-name {
                div {
                    margin-top: 16px;
                    display: block;
                   
                }
            }
            &-divider {
                margin-top: 11px;
                width: 100%;
            }
            &-grade {
                display: flex;
                align-items: center;
              
                em {
                    display: block;
                    color: #7B7B7B;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; /* 185.714% */
                    margin-right: 13.5px;
                } 
                span {
                    margin-top: 3px;
                    margin-left: 4px;
                }
            }
            &-img {
                width: 130px;
                height: 130px;

            }
            &-mark {
                margin-top: 8px;
                gap: 49px;
            }
            &-tour {
                color: #7B7B7B;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px; /* 185.714% */
                span {
                    color: $textcolorMain;
                    text-decoration-line: underline;
                }
            }
            &-feed {
                font-size: 16px;
                text-align: left;
                line-height: 26px;
                margin-left: 3px;
                margin-top: 13.25px;
            }
        }
        &__btn {
            display: none;
        }
        .tns-nav {
            margin-top: 70px;
            margin-left: 286px;
            button {
                width: 12px;
                height: 12px;
                margin-right: 13px;

            }
        }
     }
     .blog {
        &__rectangle {
            height: 116.536px;
        }
        &__btn {
            width: 100px;
            height: 50px;
            font-size: 16px;
            margin-top: -4px;

        }
        &__slider {
            margin-top: 58px;
            margin-left: 0px;
             &-btns {
                margin-top: 0;
                margin-left: 61px;
                .prev, .next {
                    width: 46px;
                    height: 46px; 
                    img {
                        width: 19px;
                        height: 19px;
                    }
                }
             }
             &-date {
                margin-top: 17px;
                img {
                    width: 15.158px;
                    height: 15.158px;
                }
             }
             &-descr {
                font-size: 16px;
                margin-top: 20px;
                line-height: 24px;
                overflow: hidden;
             }
             &-read {
                margin-top: 21px;
             }
        }
        
        &__wrapper {
            padding-top: 97px;
        }
       
     }
     .mails {
        padding-top: 151px;
        &__wrapper {
            background: url("../img/mail_bg.jpg") center / cover   no-repeat;
            border-radius: 30px;
            padding: 91.72px 0 52.47px 106.34px;
        }
        &__title {
            font-size: 30px;
            line-height: 40px;
            margin-top: 1px;
        }
        &__subtitle {
            margin-top: 16px;
            margin-left: 1px;
            font-size: 16px;
            line-height: 26px;
        }
        &__btns {
            margin-top: 50px;
            gap: 16px;
        }
        &__btn {
            width: 170.585px;
            height: 59.815px; 
            span {
                display: block;
                color: #1C1C1B;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px; /* 133.333% */
                margin-left: 10px;
            }      
        } 
        &__policy {
            font-size: 12px;
            line-height: 19px;
            margin-top: 111.58px;
            padding: 0px 779px 0 0;

         }
     }
 
}