.header {
    padding-top: 22.42px;
    &__container {
        display: flex;
        align-items: center;
    }
    &__logo {
        margin-left: 15.74px;
        margin-top: 2.5px;
 
    }
    &__heart {
         display: block;
        width: 37.177px;
        height: 37.177px;
        margin-left: 58.81px;
        margin-top: 0.5px;
        border-radius: 100px;
        background: #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: center;
     
        svg {
            display: block;
            width: 16.358px;
            height: 16.358px;
           
        }
    }
    &__login {
        display: flex;
        margin-left: 8.72px;
        margin-top: -2.5px;
        align-items: center;
        justify-content: center;
        width: 84.95px;
        height: 37.177px;
        color: $textcolorMain;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 25px; /* 208.333% */
        border-radius: 100px;
        background: #F5F5F5;


    }
    &__btn {
        width: 186.25px;
        height: 50px;
        font-weight: 600;
        line-height: 25px; /* 166.667% */
        display: none;
        transition: all .3s ease-out;
      
    }
    &__heart {
        margin-left: auto;
    }
    
}