.daystour {
  padding-bottom: 269.04px;
   background: url("../img/tours/tour_bg.jpg") center center / cover no-repeat;
   &__rectangle {
    border-radius: 0 0 50px 50px;
    background: #fff;
    width: 374.52px;
    height: 50.703px;
    
   }
   &__title {
    padding-top: 65.11px;
    text-align: center;
    font-size: 23px;
   }
   &__subtitle {
    margin-top: 12.36px;
    text-align: center;
   }
   &__btn {
    margin: 33.49px auto 0 auto;
    width: 170.127px;
    height: 55px;
   }
}