.tours {
    padding-top: 67.77px;
    background: #f9f9f9;
    padding-bottom: 70.5px;

    &__filters {
        margin-top: 33.09px;
        display: flex;
        gap: 18.25px;
    }
    &__city, &__date {
        &-title {
            margin-bottom: 7.85px;
        }
    }
   
    &__select {
        display: none;
    }
    &__dateselect {
        display: none;
        margin-left: -16px;
    }
    &__date {
        &-select {
            position: relative;
            display: none;
            width: 241px;
                padding: 13.91px 22.75px;
                color: #B7B7B7;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px; /* 162.5% */
                border-radius: 10px;
                border: 1px solid #E6E6E6;
                background: #FFF;
                &:after {
                    background-image: url('../img/icons/calendar-tour.svg');
                    width: 15px;
                    height: 15px;
                    margin-right: -6px;
                    transform: rotate(0deg) !important;
                    
                  
                  }
                  
        }
    }
    &__city {
     //   margin-top: 26px;
        &-cities {
            width: 131.75px;
            height: 45px;
            flex-shrink: 0;
            border-radius: 1000px;
            background: #F5F5F5;
            color: #454545;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px; /* 185.714% */
            padding: 8.91px  16.75px 10.09px 14.75px;
            border:none;
            outline: none;
            text-align: center;
            justify-content: start;
            &::after {
                margin-left: auto;
                margin-right: -1px;
                margin-top: 2px;
            }
        }
    }
    &__date {
     
      input {
        width: 70px;
        height: 45px;
        border-radius: 1000px;
        background: #F5F5F5;
        color: #454545;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 185.714% */
        border: none;
        outline: none;
        }
        &-in {
            margin-right: 7px;
        }
        &-divider {
            color: #454545;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px; /* 162.5% */
        }
    }
   &__cards {
    margin-top: 39.8px;
    display: grid;
    grid-template-columns: 157.31px 157.31px;
    justify-content: center;
    column-gap: 20.69px;
    row-gap: 22.09px;
   }
   &__cardhour {
    margin-top: 11px;
   }
   &__card {
    position: relative;
    &-wrapper {
        border: 1px solid #DFDFDF;
        border-radius: 0 0 20px 20px;
        padding: 0 0 16.9px 0;
        border-top:none;
        margin-top: -5px;
      
       }
    &-heart {
        width: 23.572px;
        height: 23.572px;
        display: flex;
        justify-content: center;
        align-items:center;
        position: absolute;
        background: transparentize(#fff, 0.9);
        border-radius:100%;
        right: 7.63px;
        top: 7.55px;
        z-index: 1;
        svg {
            width: 10.372px;
            height: 10.372px;
        }
    }
    &-img {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        height: 97.204px;
    }
    &-title {
        color: $textcolorMain;
        font-size: 11px;
        font-weight: 700;
        line-height: 15px; /* 136.364% */
        padding: 10.24px 6.61px 0 12.36px;
    }
    &-divider {
        margin: 9.47px auto 0 auto;
        width: 132.844px;
        height: 1px;
        background: #E6E6E6;

    }
    &-descr {
        display: none;
        margin-top: 10px;
        color: #6A6A6A;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px; /* 166.667% */
    }
    &-price {
        margin-top: 9.6px;
        padding-left: 11.89px; 
        color: #252525;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        span {
            font-weight: 400;
            
        }
    }
    
    &-hour {
        display: flex;
        color: $textcolorMain;
        margin: 10.19px auto 0 auto;
        width: 133.291px;
        height: 33.82px;
        font-size: 11px;
        font-weight: 400;
        line-height: normal;
        border: 1px solid #E9E9E9;
        border-radius: 1000px;
        outline: none;
        padding-left: 14.21px;
        background: #fff;
        justify-content: start;
        &::after {
            margin-left: auto;
            margin-right: 14px;
            margin-top: 3px;
        }
    }
    &-btn {
        margin: 8.06px auto 0 auto;
        width: 133.291px;
        height: 33.82px;
        border-radius: 1000px;
        font-size: 12px;
        &_plus {
            display: none;
            width: 46px;
            height: 46px;
            background: #E9E9E9;
            border-radius: 100px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
  
   } 
   &__btn {
    width: 156.055px;
    height: 48.906px;
    margin: 44px auto 0 auto;
    font-size: 13px;
}
}