.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $mainColor;
    font-weight: 500;
    line-height: normal;
    color: $textcolorMain;
    border-radius:100px;
    transition: all .3s ease-out;

    &:hover {
        background: lighten($mainColor,10%)
    }

    &__whatsapp {
        background: #4CAF50;
        transition: all .3s ease-out;
       svg {
        width: 23px;
        height: 23px;
        margin-right: 11.25px;
        vertical-align: middle;
       
       } 
       &:hover {
        background: darken(#4CAF50, 10%)
       }
    }
    &__telegram {
    
        background: #039BE5;
        transition: all .3s ease-out;
        svg {
           
            vertical-align: middle;
            margin-right: 18.17px;
           
           }
           &:hover {
            background: darken(#039BE5, 10%)
           }
    }
    &__slider {
       
        display: flex;
        gap: 14px;
        .prev, .next {
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 46px;
            height: 46px;
            flex-shrink: 0;
            border-radius: 100%;
            border: 2px solid  #D2D2D2;
            &::before {
                // position: absolute;
                // content: '';
                // width: 44px;
                // height: 44px;
                // border-radius: 100%;
                // border: 2px solid $textcolorMain;
                // border-top: none;
                // border-left: none;
        
                
            }
        }
    }
}